*{
	margin: 0;
	padding: 0;
}
#bigbox{
	width: 100%;
	height: 600px;

}
#bigbox #header{
	background: blanchedalmond;
	height: 40px;

}

#bigbox #header a{
border: none;
background: none;
}
#bigbox #header a:active{
	border: none;
background: none;
}
a {
	text-decoration: none;
}

ul {
	list-style: outside none none;
}

.slider {
	text-align: center;
	margin: 0 auto;
	position: relative;
	width:100%;
	height: 1000px;
	
}

.slider,
.slider-panel img,
.slider-extra {
	text-align: center;
	width:360px;
	height: 176px;
}

.slider-panel,
.slider-nav,
.slider-pre,
.slider-next {
	position: absolute;
	z-index: 8;
}

.slider-panel {
	position: absolute;
}

.slider-panel img {
	border: none;
}

.slider-extra {
	position: relative;
}

.slider-nav {
	margin-left: -37px;
	position: absolute;
	left: 50%;
	bottom: 4px;
}

.slider-nav li {
	border:1px solid white;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	margin: 0 2px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	height: 10px;
	line-height: 10px;
	width: 10px;
}

.slider-nav .slider-item-selected {
	background: white;
}

.slider-page a {
	background: rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
	color: #fff;
	text-align: center;
	display: block;
	font-family: "simsun";
	font-size: 22px;
	width: 28px;
	height: 62px;
	line-height: 62px;
	margin-top: -31px;
	position: absolute;
	top: 50%;
}

.slider-page a:HOVER {
	background: rgba(0, 0, 0, 0.4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
}

.slider-next {
	left: 100%;
	margin-left: -28px;
}

.box1{
	margin-top: 10px;
	height: auto;
}
.box2{
	height: 200px;
}
.box3{
	height: 200px;
}
#myPanel{
	text-align: center;
}
#myPanel p{
	margin-top: 5px;
	
}

#myPanel ul li{
	padding: 10px;
}
.ui-content{
	text-align: center;
}
